.contentBuyMemePage {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.bestMemeContent {
    text-align: center;
} 
.BestMemeIcon {
    height: 300px;
    width: 300px;
} 
// .betFormContent {

// }